<!-- <div *ngFor="let lot of lots">
  <span><a [routerLink]="[ '/auction/lot', lot.id ]">{{lot.name}}</a></span>
  <span>{{lot.startPrice}}</span>
</div> -->

<!-- <img src="https://semantic-ui.com/images/wireframe/image.png"> -->

<div class="lot-item">
  <img src="https://semantic-ui.com/images/wireframe/image.png">
  <div class="lot-details">
    <div class="lot-details-left">
        <section>
          <span>Ieta samiy</span>
          <span>Ieta samiy kryto iy krytoi lotik. DA!!!ssss i lotik. DA!!!sssss</span>
        </section>
        <span>by USERNAMEssssssssssssss</span>
      </div>
      <div class="lot-details-right">
        <div>
          <span>Price:</span>
          <span>$100</span>
        </div>
        <button type="button" class="btn btn-secondary">Place a bet</button>
      </div>
  </div>
</div>

<div class="lot-item">
  <img src="https://semantic-ui.com/images/wireframe/image.png">
  <div class="lot-details">
    <div class="lot-details-left">
        <section>
          <span>Name</span>
          <span>Descript</span>
        </section>
        <span>by USERNAME</span>
      </div>
      <div class="lot-details-right">
        <div>
          <span>Price:</span>
          <span>$100</span>
        </div>
        <button type="button" class="btn btn-secondary">Place a bet</button>
      </div>
  </div>
</div>