:host {
}


.lot-item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    overflow: hidden;
    font-size: 20px;
}

.lot-item {
    margin-bottom: 10px;
}

.lot-item img {
    min-width: 250px;
    width: 250px;
    height: auto;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.lot-details {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    min-width: 350px;
}

.lot-details-left {
    flex: 3;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    text-align: justify;
}

    .lot-details-left > section {
        margin-bottom: 20px;
    }

        .lot-details-left > section > span {
            height: 65px;
            overflow: hidden;
        }

        .lot-details-left > section > span:nth-child(1) {
            font-weight: 600;
            text-transform: uppercase;
        }

            .lot-details-left > section > span:nth-child(1) > a{
                color: black;
                outline: none;
                transition: all 1000ms ease; 
            }

                .lot-details-left > section > span:nth-child(1) > a:hover {
                    font-weight: 600;
                    color: #4161ff;
                    outline: none;
                    text-decoration: none;
                    transition: all 500ms ease; 
                }

        .lot-details-left > section > span:nth-child(2) {
            color: rgba(0, 0, 0, 0.6);
        }

    .lot-details-left > span {
        position: absolute;
        bottom: 0;
        white-space: nowrap;
    }

.lot-details-right {
    flex: 1;
    min-width: 135px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .lot-details-right > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

.lot-details span {
    display: block;
}

.lot-details span:nth-child(1) {
    font-weight: 600;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
}

// PAGINATION

.btn-group .active {
    cursor: default;
}

.btn-group .active {
    cursor: default;
}

.nonPaginat {
    height: 35px;
    visibility: hidden;
}
