:host {
}


.lot-item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    overflow: hidden;
}

.lot-item:not(:first-child) {
    margin-top: 10px;
}

.lot-item img {
    min-width: 250px;
    width: 250px;
    height: auto;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

.lot-details {
    padding: 15px;
    display: flex;
    flex: 2;
}

.lot-details-left {
    flex: 3;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    text-align: justify;
}

    .lot-details-left > section {
        margin-bottom: 20px;
    }

        .lot-details-left > section > span {
            height: 50px;
            max-height: 50px;
            overflow: hidden;
        }

    .lot-details-left > span {
        position: absolute;
        bottom: 0;
        white-space: nowrap;
    }

.lot-details-right {
    flex: 1;
    min-width: 135px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .lot-details-right > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

.lot-details span {
    display: block;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
}

