<!-- <div *ngFor="let lot of lots">
  <span><a [routerLink]="[ '/auction/lot', lot.id ]">{{lot.name}}</a></span>
  <span>{{lot.startPrice}}</span>
</div> -->

<!-- <img src="https://semantic-ui.com/images/wireframe/image.png"> -->

<div class="lot-item">
  <img src="https://semantic-ui.com/images/wireframe/image.png">
  <div class="lot-details">
    <div class="lot-details-left">
        <span>Name</span>
        <span>Descript</span>
        <span>by USERNAME</span>
      </div>
      <div class="lot-details-right">
        <span>Price</span>
        <button>Place a bet</button>
      </div>
  </div>
</div>

<div class="lot-item">
    <img src="https://semantic-ui.com/images/wireframe/image.png">
    <div class="lot-details">
      <div class="lot-details-left">
        <span>Ochendlinniy name prosto kapec</span>
        <span>a tyt 4toto mnogo napisano nif naf nif naf ..... best tovar brat</span>
        <span>by USERNAME but username o4en mnogo imeet bykafff</span>
      </div>
      <div class="lot-details-right">
        <span>Price 666696963246236235</span>
        <button>Place a bet</button>
      </div>
    </div>
  </div>