<p>
  add-lot-form works!
</p>
{{diagnostic}}
<div *ngFor="let lot of lots">
  <span>{{lot.name}}</span>
  <span>{{lot.price}}</span>
</div>
<div>
    <form (ngSubmit)="onSubmit(AddLotForm)" #AddLotForm="ngForm">
      <div>
        <label for="name">Lot name</label>
        <input type="text" name="name" ngModel>
      </div>
 
      <div>
        <label for="price">Lot price</label>
        <input type="number" name="price" ngModel>
      </div>
 
      <button type="submit" >Add lot</button>
 
    </form>
</div>