<form *ngIf="showForm == true" (ngSubmit)="onSubmit(AddLotForm)" #AddLotForm="ngForm">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Lot name">
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="startPrice" name="startPrice" placeholder="Lot price">
    </div>
  </div>
  <button type="button" class="btn btn-secondary" >Add</button>
  <button (click)="toggleDisplayForm()" type="button" class="btn btn-secondary" >Cancel</button>
</form>

<button *ngIf="showForm == false" (click)="toggleDisplayForm()" type="button" class="btn btn-secondary" >+ Lot</button>
