<div class="wrapper">
    <header>
        <app-header></app-header>
    </header>
    <div id="content">
        <!-- <aside *ngIf="!hideSidebar"> -->
        <aside *ngIf="!hideSidebar">
            <app-sidebar></app-sidebar>
        </aside>
        <section>
            <main>
                <router-outlet></router-outlet>
            </main>
            <div id="extraContent">
                <app-extra-content></app-extra-content>
            </div>
        </section>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>