.wrapper {
    margin: 15px auto 50px auto;
    max-width: 1200px;
}
    header {
        margin-bottom: 10px;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    #content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        justify-content: space-around;
    }

    #content > * {
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

        aside {
            flex: 1;
            min-width: 300px;
            width: 300px;
            margin-bottom: 10px;
        }

        section {
            flex: 3;
            display: flex;
            flex-flow: column nowrap;
        }

            main {
                margin-bottom: 10px;
            }

            #extraContent {
            }

    footer {
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    @media screen and (max-width: 480px) {
    header, #content, footer {
        margin-right: 0;
        margin-left: 0;
    }
    
    .wrapper {
        min-width: 300px; 
    }

        #content {
            flex-direction: column;
        }

            aside {
                display: none;
            }

    }
