<article>
  <div>
    {{lot?.name}}
  </div>
  <div>
    <div>
      <img src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <section>
      <div>
        <span>Price:</span>
        <span>{{lot?.startPrice}}</span>
      </div>
      <div>
        <p>
          {{lot?.description}}
        </p>
      </div>
    </section>
  </div>
</article>

<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bet</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bid of lot?.bids; let i = index">
      <td>{{lot?.bids.length - i}}</td>
      <td>{{bid.price}}</td>
      <td>{{bid.user.name}}</td>
    </tr>
  </tbody>
</table>

<app-place-bet-form (addBet)="placeBet($event)"></app-place-bet-form>
<button type="button" [routerLink]="[ '/auction/' ]">Back</button>