@import "../../../styles.scss";

:host {
    display: block;
    background-color: azure;
    border-radius: 5px;
    box-shadow: -2px -2px 15px 4px rgba(0,0,0,0.5);
    padding: 15px 15px;
}

:host > button {
    @extend .btn, .btn-secondary;
    display: block;
}

:host {
    > table {
        @extend .table;
        > thead {
            @extend .table-secondary;
        }
        tr {
            @extend .text-center;
        }
    }
}

:host {
    > article {
        > div:nth-child(1) {
            background-color: #D6D8DB;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 20px;
            text-transform: uppercase;
        }
        > div:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 15px;
            > div {
                flex: 1;
                min-width: 300px;
                > img {
                    width: 100%;
                }
            }
            > section{
                flex: 1;
                padding: 10px;
                min-width: 300px;
                overflow: hidden;
                > div:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                > div:nth-child(2) {
                    > p {
                        border-top: 1px solid #D6D8DB;
                        padding: 5px;
                        margin-top: 15px;
                        text-align: justify;
                        text-indent: 20px;
                    }
                }
            } 
        }
    }
}