@import "../../../styles.scss";

:host {
    display: block;
    background-color: azure;
    border-radius: 5px;
    box-shadow: -2px -2px 15px 4px rgba(0,0,0,0.5);
    padding: 15px 15px;
}

:host > button {
    @extend .btn, .btn-secondary;
    display: block;
}

:host {
    > table {
        @extend .table;
        > thead {
            @extend .table-secondary;
        }
        tr {
            @extend .text-center;
        }
    }
}

:host {
    > article {
        display: flex;
        > img {
            flex: 1;
        }
        > section{
            flex: 1;
        } 
    }
}